<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEADER | COMPONENT</title>
    <link rel="stylesheet" href="../../styles/__index.css">
</head>
<body>
    <header class="header">
        <nav class="header__container">
            <a class="logo" href="https://www.paperfox.com.ua/" aria-label="Перейти на головну сторінку">
                <img title="PAPERFOX LOGO" class="logo__img" src="../../static/paperfox-logo.svg" width="4" height="1" loading="lazy" decoding="async" alt="Лого PAPERFOX">
            </a>
            <div class="mob_menu_wrapper">
                <a class="mob_menu_btn" href="#" aria-label="Мобільне меню"></a>
                <ol class="main_menu">
                    <li class="menu_item">
                        <a href="#" class="menu_item__link">ПОЛІГРАФІЯ</a>
                        <div class="drop_down_wrapper">
                            <div class="drop_down_container">
                                <ul role="menu">
                                    <li>
                                        <a title="Друк наклейок та стікер паків [стікер сетів] в Києві на Подолі | PaperFox" href="https://www.paperfox.com.ua/print-sticker/" class="sub_link" aria-current="page">
                                            <span>Друк наклейок</span>
                                            <span>Порізка, висічка, ламінація</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Якісний кольоровий друк А3 та А4 формата в Києві | PaperFox" href="https://www.paperfox.com.ua/digital-print/" class="sub_link" aria-current="page">
                                            <span>Цифровий друк</span>
                                            <span>Розмір від А7 до А3</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Широкоформатний друк А2, А1 і А0 в Києві. Плакати, креслення, фото | PaperFox" href="https://www.paperfox.com.ua/large-print/" class="sub_link" aria-current="page">
                                            <span>Широкоформатний друк</span>
                                            <span>Плакати, креслення: А2, А1 та А0</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul role="menu">
                                    <li>
                                        <a title="Друк візиток в Києві на Подолі: візитки швидко, якісно, зручно. Візитки терміново | PaperFox" href="https://www.paperfox.com.ua/print-vizitki/" class="sub_link" aria-current="page">
                                            <span>Друк візиток</span>
                                            <span>Цифрові та офсетні візитки</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Друк буклетів, каталогів, брошур. Друк буклетів в Києві на Подолі | PaperFox" href="https://www.paperfox.com.ua/print-flyer/" class="sub_link" aria-current="page">
                                            <span>Друк буклетів</span>
                                            <span>Брошури, буклети, меню</span>
                                        </a>
                                    </li>
                                </ul>
                                <ol class="menu_contacts">
                                    <li><a class="before_tel" href="tel:0800332042">0800 332 042</a></li>
                                    <li><a class="before_mail" href="mailto:print@paperfox.com.ua">print@paperfox.com.ua</a></li>
                                    <li><a class="before_telegram" href="https://t.me/Paper_Fox">Telegram</a></li>
                                    <li><a class="before_viber" href="viber://add?number=380730472212">Viber</a></li>
                                    <li>
                                        <a title="Контакти" href="https://www.paperfox.com.ua/contacts/" 
                                            class="sub_link" aria-label="Контакти PaperFox" aria-current="page">
                                            <span>Інші контакти</span>
                                            <span>Телефони, адреса, месенджери</span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </li>
                    <li class="menu_item">
                        <a href="#" class="menu_item__link">СУВЕНІРНА ПРОДУКЦІЯ</a>
                        <div class="drop_down_wrapper">
                            <div class="drop_down_container">
                                <ul role="menu">
                                    <li>
                                        <a title="Друк фото на холсті в Києві на Подолі. Готовність та відправка в день замовлення | PaperFox" href="https://www.paperfox.com.ua/print-canvas/" class="sub_link" aria-current="page">
                                            <span>Друк на холсті</span>
                                            <span>Полотно преміум та економ</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="👕 Друк на футболках в Києві. Друк на тканині на Подолі | PaperFox" href="https://www.paperfox.com.ua/print-t-shirt/" class="sub_link" aria-label="Друк на футболках" aria-current="page">
                                            <span>Друк на футболках</span>
                                            <span>Флекс, прямий друк, термо</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="☕ Друк на чашках [горнятках, кружках]. Конструктор чашок з фото і написом | PaperFox" href="https://www.paperfox.com.ua/mug-print/" class="sub_link" aria-label="Друк на чашках" aria-current="page">
                                            <span>Друк на чашках</span>
                                            <span>Стандартні, XL, mini</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul role="menu">
                                    <li>
                                        <a title="Друк календарів з фото. Замовити онлайн друк календарів в Києві на Подолі | PaperFox" href="https://www.paperfox.com.ua/print-calendar/" class="sub_link" aria-label="Будиночки та Перекідні" aria-current="page">
                                            <span>Друк календарів</span>
                                            <span>Будиночки та Перекідні</span>
                                        </a>
                                    </li>
                                </ul>
                                <ol class="menu_contacts">
                                    <li><a class="before_tel" href="tel:0800332042">0800 332 042</a></li>
                                    <li><a class="before_mail" href="mailto:print@paperfox.com.ua">print@paperfox.com.ua</a>
                                    <li><a class="before_telegram" href="https://t.me/Paper_Fox">Telegram</a></li>
                                    <li><a class="before_viber" href="viber://add?number=380730472212">Viber</a></li>
                                    <li>
                                        <a title="Контакти" href="https://www.paperfox.com.ua/contacts/" class="sub_link" aria-label="Контакти PaperFox" aria-current="page">
                                            <span>Інші контакти</span>
                                            <span>Телефони, адреса, месенджери</span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </li>
                    <li class="menu_item">
                        <a href="#" class="menu_item__link">ШАБЛОНИ</a>
                        <div class="drop_down_wrapper">
                            <div class="drop_down_container">
                                <ul role="menu">
                                    <li>
                                        <a title="Печать фото на холсте Киев" href="https://www.paperfox.com.ua/gift-mugs/" class="sub_link" aria-label="Дизайни готових чашок для подарунку замовити з доставкою" aria-current="page">
                                            <span>Чашки на подарунок</span>
                                            <span>Друк на холсті</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Печать фото на холсте Киев" href="https://www.paperfox.com.ua/digital-print/diplomy-i-sertificaty/" class="sub_link" aria-label="Шаблони дизайнів сертифікатів замовити онлайн" aria-current="page">
                                            <span>Сертификати</span>
                                            <span>Друк на холсті</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Прикольные футболки" href="https://paperfox.com.ua/t-shirt-gallery/" class="sub_link" aria-label="Шаблони дизайнів друку на футболоках" aria-current="page">
                                            <span>Футболки</span>
                                            <span>Друк на холсті</span>
                                        </a>
                                    </li>
                                </ul>
                                <ol class="menu_contacts">
                                    <li><a class="before_tel" href="tel:0800332042">0800 332 042</a></li>
                                    <li><a class="before_mail" href="mailto:print@paperfox.com.ua">print@paperfox.com.ua</a>
                                    <li><a class="before_telegram" href="https://t.me/Paper_Fox">Telegram</a></li>
                                    <li><a class="before_viber" href="viber://add?number=380730472212">Viber</a></li>
                                    <li>
                                        <a title="Контакти" href="https://www.paperfox.com.ua/contacts/" class="sub_link" aria-label="Контакти PaperFox" aria-current="page">
                                            <span>Інші контакти</span>
                                            <span>Телефони, адреса, месенджери</span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </nav>
    </header>
    
</body>
</html>