<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEADER | COMPONENT</title>
    <link rel="stylesheet" href="../../styles/__index.css">
</head>

<body>
    <header class="header">
        <div class="top_header_pc_menu_wrapper">
            <div class="top_header_pc_menu">
                <div class="row gap">
                    <a href="tel:0800332042" class="top_header_pc_menu_link phone_before">0800 332 042</a>
                    <a href="mailto:print@paperfox.com.ua"
                        class="top_header_pc_menu_link mail_before">print@paperfox.com.ua</a>
                    <a href="viber://chat?number=380730472212" class="top_header_pc_menu_link viber_before">Viber</a>
                    <a href="https://t.me/Paper_Fox" class="top_header_pc_menu_link telegram_before">Telegram</a>
                </div>
                <div class="row gap">
                    <a href="https://www.paperfox.com.ua/oplata-i-dostavka" class="top_header_pc_menu_link">Доставка
                        та оплата</a>
                    <a href="https://www.paperfox.com.ua/oplata-i-dostavka" class="top_header_pc_menu_link">Умови
                        користування</a>
                    <a href="https://www.paperfox.com.ua/blog/" class="top_header_pc_menu_link">Блог</a>
                </div>
            </div>
        </div>
        <nav class="header__container">
            <a class="logo" href="https://www.paperfox.com.ua/" aria-label="Перейти на головну сторінку">
                <img title="PAPERFOX LOGO" class="logo__img" src="../../static/paperfox-logo.svg" width="4" height="1"
                    loading="lazy" decoding="async" alt="Лого PAPERFOX">
            </a>
            <div class="mob_menu_wrapper">
                <a class="mob_menu_btn" href="#" aria-label="Мобільне меню"></a>
                <ol class="main_menu">
                    <li class="menu_item">
                        <a href="#" class="menu_item__link"><span>ПОЛІГРАФІЯ</span></a>
                        <div class="drop_down_wrapper">
                            <div class="drop_down_container">
                                <ul role="menu">
                                    <li>
                                        <a title="Друк наклейок та стікер паків [стікер сетів] в Києві на Подолі | PaperFox"
                                            href="https://www.paperfox.com.ua/print-sticker/" class="sub_link"
                                            aria-current="page">
                                            <span>Друк наклейок</span>
                                            <span>Порізка, висічка, ламінація</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Якісний кольоровий друк А3 та А4 формата в Києві | PaperFox"
                                            href="https://www.paperfox.com.ua/digital-print/" class="sub_link"
                                            aria-current="page">
                                            <span>Цифровий друк</span>
                                            <span>Розмір від А7 до А3</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Широкоформатний друк А2, А1 і А0 в Києві. Плакати, креслення, фото | PaperFox"
                                            href="https://www.paperfox.com.ua/large-print/" class="sub_link"
                                            aria-current="page">
                                            <span>Широкоформатний друк</span>
                                            <span>Плакати, креслення: А2, А1 та А0</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul role="menu">
                                    <li>
                                        <a title="Друк наліпок великого розміру на плівці Рітрамаі в Києві на Подолі | PaperFox"
                                            href="https://paperfox.com.ua/oracal-print/" class="sub_link"
                                            aria-current="page">
                                            <span>Друк на оракалі</span>
                                            <span>Екосольвентний друк</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Друк візиток в Києві на Подолі: візитки швидко, якісно, зручно. Візитки терміново | PaperFox"
                                            href="https://www.paperfox.com.ua/print-vizitki/" class="sub_link"
                                            aria-current="page">
                                            <span>Друк візиток</span>
                                            <span>Цифрові та офсетні візитки</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Друк буклетів, каталогів, брошур. Друк буклетів в Києві на Подолі | PaperFox"
                                            href="https://www.paperfox.com.ua/print-flyer/" class="sub_link"
                                            aria-current="page">
                                            <span>Друк буклетів</span>
                                            <span>Брошури, буклети, меню</span>
                                        </a>
                                    </li>
                                </ul>
                                <ol class="menu_contacts">
                                    <li><a class="before_tel" href="tel:0800332042">0800 332 042</a></li>
                                    <li><a class="before_mail"
                                            href="mailto:print@paperfox.com.ua">print@paperfox.com.ua</a></li>
                                    <li><a class="before_telegram" href="https://t.me/Paper_Fox">Telegram</a></li>
                                    <li><a class="before_viber" href="viber://add?number=380730472212">Viber</a></li>
                                    <li>
                                        <a title="Контакти" href="https://www.paperfox.com.ua/contacts/"
                                            class="sub_link" aria-label="Контакти PaperFox" aria-current="page">
                                            <span>Інші контакти</span>
                                            <span>Телефони, адреса, месенджери</span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </li>
                    <li class="menu_item">
                        <a href="#" class="menu_item__link"><span>СУВЕНІРНА ПРОДУКЦІЯ</span></a>
                        <div class="drop_down_wrapper">
                            <div class="drop_down_container">
                                <ul role="menu">
                                    <li>
                                        <a title="Друк фото на холсті в Києві на Подолі. Готовність та відправка в день замовлення | PaperFox"
                                            href="https://www.paperfox.com.ua/print-canvas/" class="sub_link"
                                            aria-current="page">
                                            <span>Друк на холсті</span>
                                            <span>Полотно преміум та економ</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="👕 Друк на футболках в Києві. Друк на тканині на Подолі | PaperFox"
                                            href="https://www.paperfox.com.ua/print-t-shirt/" class="sub_link"
                                            aria-label="Друк на футболках" aria-current="page">
                                            <span>Друк на футболках</span>
                                            <span>Флекс, прямий друк, термо</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="☕ Друк на чашках [горнятках, кружках]. Конструктор чашок з фото і написом | PaperFox"
                                            href="https://www.paperfox.com.ua/mug-print/" class="sub_link"
                                            aria-label="Друк на чашках" aria-current="page">
                                            <span>Друк на чашках</span>
                                            <span>Стандартні, XL, mini</span>
                                        </a>
                                    </li>
                                </ul>
                                <ul role="menu">
                                    <li>
                                        <a title="Друк календарів з фото. Замовити онлайн друк календарів в Києві на Подолі | PaperFox"
                                            href="https://www.paperfox.com.ua/print-calendar/" class="sub_link"
                                            aria-label="Будиночки та Перекідні" aria-current="page">
                                            <span>Друк календарів</span>
                                            <span>Будиночки та Перекідні</span>
                                        </a>
                                    </li>
                                </ul>
                                <ol class="menu_contacts">
                                    <li><a class="before_tel" href="tel:0800332042">0800 332 042</a></li>
                                    <li><a class="before_mail"
                                            href="mailto:print@paperfox.com.ua">print@paperfox.com.ua</a>
                                    <li><a class="before_telegram" href="https://t.me/Paper_Fox">Telegram</a></li>
                                    <li><a class="before_viber" href="viber://add?number=380730472212">Viber</a></li>
                                    <li>
                                        <a title="Контакти" href="https://www.paperfox.com.ua/contacts/"
                                            class="sub_link" aria-label="Контакти PaperFox" aria-current="page">
                                            <span>Інші контакти</span>
                                            <span>Телефони, адреса, месенджери</span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </li>
                    <li class="menu_item">
                        <a href="#" class="menu_item__link"><span>ШАБЛОНИ</span></a>
                        <div class="drop_down_wrapper">
                            <div class="drop_down_container">
                                <ul role="menu">
                                    <li>
                                        <a title="Печать фото на холсте Киев"
                                            href="https://www.paperfox.com.ua/gift-mugs/" class="sub_link"
                                            aria-label="Дизайни готових чашок для подарунку замовити з доставкою"
                                            aria-current="page">
                                            <span>Чашки на подарунок</span>
                                            <span>Друк на холсті</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Печать фото на холсте Киев"
                                            href="https://www.paperfox.com.ua/digital-print/diplomy-i-sertificaty/"
                                            class="sub_link" aria-label="Шаблони дизайнів сертифікатів замовити онлайн"
                                            aria-current="page">
                                            <span>Сертификати</span>
                                            <span>Друк на холсті</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a title="Прикольные футболки" href="https://paperfox.com.ua/t-shirt-gallery/"
                                            class="sub_link" aria-label="Шаблони дизайнів друку на футболоках"
                                            aria-current="page">
                                            <span>Футболки</span>
                                            <span>Друк на холсті</span>
                                        </a>
                                    </li>
                                </ul>
                                <ol class="menu_contacts">
                                    <li><a class="before_tel" href="tel:0800332042">0800 332 042</a></li>
                                    <li><a class="before_mail"
                                            href="mailto:print@paperfox.com.ua">print@paperfox.com.ua</a>
                                    <li><a class="before_telegram" href="https://t.me/Paper_Fox">Telegram</a></li>
                                    <li><a class="before_viber" href="viber://add?number=380730472212">Viber</a></li>
                                    <li>
                                        <a title="Контакти" href="https://www.paperfox.com.ua/contacts/"
                                            class="sub_link" aria-label="Контакти PaperFox" aria-current="page">
                                            <span>Інші контакти</span>
                                            <span>Телефони, адреса, месенджери</span>
                                        </a>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </li>
                    <li class="menu_item">
                        <a href="https://www.paperfox.com.ua/cart/" class="menu_item__cart" aria-label="Кошик"></a>
                    </li>
                    <li class="menu_item">
                        <a href="https://www.paperfox.com.ua/cart/" class="menu_item__cart_mob" aria-label="Кошик">
                            <span>КОШИК</span>
                        </a>
                    </li>
                    <li class="menu_item__s_links">
                        <ul class="col small_gap">
                            <li>
                                <a href="https://www.paperfox.com.ua/oplata-i-dostavka"
                                    class="menu_item__s_link">Доставка
                                    та оплата</a>
                            </li>
                            <li>
                                <a href="https://www.paperfox.com.ua/oplata-i-dostavka" class="menu_item__s_link">Умови
                                    користування</a>
                            </li>
                            <li>
                                <a href="https://www.paperfox.com.ua/blog/" class="menu_item__s_link">Блог</a>
                            </li>

                        </ul>
                    </li>
                    <li class="menu_item__s_links">
                        <ul class="col small_gap">
                            <li>
                                <a href="tel:0800332042" class="menu_item__s_link phone_before">0800 332 042</a>
                            </li>
                            <li>
                                <a href="mailto:print@paperfox.com.ua"
                                    class="menu_item__s_link mail_before">print@paperfox.com.ua</a>
                            </li>
                            <li>
                                <a href="viber://add?number=380730472212"
                                    class="menu_item__s_link viber_before">Viber</a>
                            </li>
                            <li>
                                <a href="https://t.me/Paper_Fox" class="menu_item__s_link telegram_before">Telegram</a>
                            </li>
                        </ul>
                    </li>
                </ol>
            </div>
        </nav>
    </header>
    <section class="section">
        <div class="container col gap">
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium, nemo voluptas. Laborum, harum quae
                obcaecati unde dignissimos vero iste odit autem, nemo omnis cum! Deserunt consequatur doloremque totam
                in illo, ipsum cumque inventore delectus repudiandae rerum ab unde ullam quasi sit? Provident quos
                nostrum temporibus laudantium eveniet ad quod autem obcaecati? In quos corporis optio cumque quibusdam,
                illo sed mollitia rem soluta ducimus dolorum at tempore minima, ullam voluptatibus est voluptatum id?
                Veritatis voluptates vero placeat laboriosam facilis sapiente in, neque ipsum repudiandae porro ipsam
                atque, quis repellat odio, perspiciatis vel mollitia officiis asperiores corrupti necessitatibus
                voluptatem unde accusantium excepturi soluta? Repellat optio eum laudantium pariatur sint maiores beatae
                quidem asperiores aspernatur similique est sit quod, magni dicta consequuntur labore illum, blanditiis
                quae, odio doloribus voluptates. At odit necessitatibus reiciendis perferendis esse, libero minima
                quisquam mollitia veritatis vel repellat tenetur sed consectetur maiores molestiae, laboriosam
                voluptatibus sapiente a, amet officia inventore culpa quod? Fugit, quas? Rerum totam a repellendus
                maiores, aut voluptas saepe nobis eveniet illo, ipsum at tempora commodi assumenda tenetur! Totam, vero
                ipsa hic velit facilis sit officiis dicta, deleniti expedita eius voluptatibus nobis sequi error rem
                maiores libero reprehenderit reiciendis, unde provident? Dolor natus quae assumenda, hic iusto ullam.
                Voluptates asperiores quaerat numquam facere aut minus tempora hic possimus, nemo accusantium eius nihil
                omnis exercitationem fugit voluptatem ad repellendus cupiditate consequatur et molestiae quisquam
                debitis voluptate magni! Odio, quod quos iste repellendus, possimus sit, doloribus tempore vitae nisi
                ipsam minus. Molestias magni atque dolor voluptatibus cumque officia corrupti quia exercitationem,
                facilis dolore optio cum voluptate dolores sequi sed consequuntur nostrum suscipit eum! Voluptatum
                voluptates doloremque quidem praesentium veritatis sed nihil! Dolor ratione, ipsa assumenda sit ad eum
                quam qui molestiae fuga deleniti excepturi soluta laudantium, voluptates iure, quidem temporibus odit
                fugit! Dolor ipsum eos cumque ipsam quo id consequuntur autem facilis omnis itaque, modi repellat labore
                voluptates quae magnam, ullam deleniti architecto eaque. Consectetur incidunt earum illum maxime soluta,
                eius nisi quibusdam vero necessitatibus mollitia assumenda odit corporis debitis ipsum. Labore
                repellendus odit ducimus corporis. Sapiente minus consequatur, tenetur nemo architecto laborum
                consectetur dolorum, at ducimus, expedita incidunt quisquam voluptatem. Perspiciatis deserunt sit
                corporis debitis inventore nemo, labore est laborum tempore! Quas soluta, quo laboriosam accusantium
                consequuntur dolorum odio, atque dolore dolorem mollitia quam sunt saepe ratione, porro expedita hic
                commodi corporis ab? Dolorem ea aspernatur illo vitae! Quia hic adipisci consequatur dolorem ipsum
                architecto, quasi atque obcaecati error minima ullam perferendis ratione mollitia ipsa delectus rem est.
                Nulla optio voluptatibus vitae a atque laudantium eius, iure totam quam quisquam deleniti expedita
                minima provident maiores pariatur omnis vel et dolor? Itaque, inventore expedita! A fugiat alias aut
                sed, iste quas qui vero cum asperiores nisi voluptas! Distinctio recusandae suscipit, vero veritatis
                minus ut dolorum ullam saepe, voluptates ipsam esse animi, soluta dicta pariatur tempora laborum! In
                tenetur at eum delectus, facere expedita voluptate iure nemo saepe quis. Similique, nesciunt mollitia,
                voluptatem quam corrupti voluptatibus corporis numquam rerum maxime et porro facilis quaerat error
                inventore dolor. Voluptatem, delectus?</p>
        </div>
    </section>

</body>

</html>