<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HEAD SECTION | COMPONENT</title>
    <link rel="stylesheet" href="../../styles/__index.css">
</head>

<body class="col width_100">
    <section class="head_section">
        <div class="head_img_wrapper">
            <img src="../../static/round-stickers-head-image-01.png"
            alt="Приклад круглих стікерів наклеєних на різні поверхні" class="head_image" />
        </div>

        <div class="col_center gap head_description">
            <h1 class="text_60 text_center width_100" aria-label="Друк наклейок і наліпок. Печать наклеек"
                title="Друк наклейок і наліпок. Печать наклеек">Круглі наліпки</h1>
            <ul class="text_center text_14__gray width_100">
                <li>Круглі наліпки з порізкою на аркушах або кожна окремо.</li>
                <li>Діаметром від 5 до 300 мм</li>
                <li>Вибір матеріалів під різне використання</li>
                <li>Можливо термінове виготовлення (від 15 хвилин)</li>
            </ul>
            <div class="row_center width_100">
                <a class="reviews" rel="noopener noreferrer nofollow" target="_blank"
                    aria-label="5 зірок на Google Maps"
                    href="https://www.google.com/maps/place/PaperFox+-+Полиграфия/@50.4675666,30.5094684,17z/data=!4m5!3m4!1s0x40d4ce14f2b5405f:0x94449792843e5c2a!8m2!3d50.4675994!4d30.5116056">
                    <ol class="row">
                        <li aria-label="review: 5 star"></li>
                        <li aria-label="review: 5 star"></li>
                        <li aria-label="review: 5 star"></li>
                        <li aria-label="review: 5 star"></li>
                        <li aria-label="review: 5 star"></li>
                    </ol>
                    <span>on Google Maps</span>
                </a>
            </div>
        </div>

        <div class="head_img_wrapper">
            <img src="../../static/round-stickers-head-image-02.png"
            alt="Приклад круглих стікерів наклеєних на різні поверхні" class="head_image" />
        </div>
    </section>

</body>

</html>