<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACT WIDGET | COMPONENT</title>
    <link rel="stylesheet" href="../../styles/__index.css">
</head>

<body>
    <section class="section bg_gray">
        <div class="container col big_gap">
            <h3 class="text_32">Потрібна консультація?</h3>
            <div class="row big_gap width_100">
                <a class="contact_widget_card" href="tel:0800332042">
                    <span class="contact_widget_card__phone">Phone</span>
                    <p>Зателефонуй нам</p>
                    <u>0800 332 042</u>
                </a>
                <a class="contact_widget_card" rel="noopener noreferrer nofollow" target="_blank"
                    href="https://t.me/Paper_Fox">
                    <span class="contact_widget_card__telegram">Telegram</span>
                    <p>Напишіть у чат</p>
                    <u>@Paper_Fox</u>
                </a>
                <a class="contact_widget_card" href="mailto:print@paperfox.com.ua">
                    <span class="contact_widget_card__email">Email</span>
                    <p>Напишіть на пошту</p>
                    <u>print@paperfox.com.ua</u>
                </a>
                <a class="contact_widget_card" href="viber://add?number=380730472212">
                    <span class="contact_widget_card__viber">Viber</span>
                    <p>Напишіть у чат</p>
                    <u>+38 073 047 2212</u>
                </a>
            </div>
        </div>
    </section>
</body>

</html>