<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCT CARDS SECTION | COMPONENT</title>
    <link rel="stylesheet" href="../../styles/__index.css">
</head>

<body class="col width_100">
    <section class="section">
        <div class="container row big_gap">
            <div class="product_card col gap">
                <picture class="product_card__image_wrapper">
                    <source srcset="../../static/round-stickers.webp" type="image/webp">
                    <img loading="lazy" decoding="async" class="product_card__image"
                        src="../../static/ritrama-matte-paperfox.jpeg" width="4" height="3"
                        alt="Друк та порізка круглих наліпок та стікерів в Києві">
                </picture>
                <div class="col small_gap">
                    <h4 class="text_24">Круглі</h4>
                    <p>Друк наліпок круглої форми самих різних розмірів – від 5 мм до 30 см в діаметрі.</p>
                    <a title="Add description for this link" href="#"
                        class="sub_link" aria-label="Друк на чашках" aria-current="page">
                        <span>Замовити</span>
                    </a>
                </div>
            </div>
            <div class="product_card col gap">
                <picture class="product_card__image_wrapper">
                    <source srcset="../../static/print-stickers.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="../../static/ritrama-glos-paperfox.jpeg"
                        width="4" height="3" class="product_card__image"
                        alt="Друк наліпок, наклейок і стікерів прямокутної стандартної форми в Києві під замовлення">
                </picture>
                <div class="col small_gap">
                    <h4 class="text_24">Прямокутні </h4>
                    <p>Стандартні прямокутні наклейки на самоклейці, вінілі, або ПЕТ. </p>
                    <a title="Add description for this link" href="#"
                        class="sub_link" aria-label="Друк на чашках" aria-current="page">
                        <span>Замовити</span>
                    </a>
                </div>
            </div>
            <div class="product_card col gap">
                <picture class="product_card__image_wrapper">
                    <source srcset="../../static/ritrama-matte-paperfox.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="../../static/ritrama-matte-paperfox.jpeg"
                        class="product_card__image" width="4" height="3"
                        alt="Виготовлення наліпок з плоттерною різкою кастомної форми в Києві ">
                </picture>
                <div class="col small_gap">
                    <h4 class="text_24">Фігурні</h4>
                    <p>Оригінальні фігурні стікери з плоттерною порізкою довільної форми.</p>
                    <a title="Add description for this link" href="#"
                        class="sub_link" aria-label="Друк на чашках" aria-current="page">
                        <span>Замовити</span>
                    </a>
                </div>
            </div>

            <div class="product_card col gap">
                <picture class="product_card__image_wrapper">
                    <source srcset="../../static/round-stickers.webp" type="image/webp">
                    <img loading="lazy" decoding="async" src="../static/round-stickers.webp"
                        width="4" height="3" class="product_card__image"
                        alt="Друк і виготовлення стікер паків, наборів стікерів під замовлення в Києві">
                </picture>
                <div class="col small_gap">
                    <h4 class="text_24">Стікер паки</h4>
                    <p>Різноманітні наліпки довільної форми на аркушах самоклейки або вінілу</p>
                    <a title="Add description for this link" href="#"
                        class="sub_link" aria-label="Друк на чашках" aria-current="page">
                        <span>Замовити</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>