<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCT CARDS SECTION | COMPONENT</title>
    <link rel="stylesheet" href="../../styles/__index.css">
</head>

<body class="col width_100">
    <section class="section">
        <div class="container row big_gap">
            <div class="product_card col gap">
                <picture class="product_card__image_wrapper">
                    <source srcset="../static/round-stickers.webp" type="image/webp">
                    <img loading="lazy" decoding="async" class="product_card__image"
                        data-pagespeed-lazy-src="../static/ritrama-matte-paperfox.jpeg" width="4" height="3"
                        alt="Друк та порізка круглих наліпок та стікерів в Києві">
                </picture>
                <div class="col gap">
                    <h4 class="text_24">Круглі</h4>
                    <p><a href="https://www.paperfox.com.ua/print-sticker/print-round-stickers/">Друк наліпок
                            круглої форми</a> самих різних розмірів – від 1 см до 30 см в діаметрі. </p>
                    <a title="Замовити круглі наліпки в Києві" href="https://www.paperfox.com.ua/large-print/"
                        class="product_sub_link" aria-current="page">
                        <span>замовити</span>
                    </a>

                </div>
            </div>
            <div class="product_card col gap">
                <picture class="product_card__image_wrapper">
                    <source srcset="../static/print-stickers.webp" type="image/webp">
                    <img loading="lazy" decoding="async" data-pagespeed-lazy-src="../static/ritrama-glos-paperfox.jpeg"
                        width="4" height="3" class="product_card__image"
                        alt="Друк наліпок, наклейок і стікерів прямокутної стандартної форми в Києві під замовлення">
                </picture>
                <div class="col gap">
                    <h4 class="text_24">Прямокутні </h4>
                    <p>Стандартні прямокутні наклейки на самоклейці, вінілі, або ПЕТ. </p>
                    <a title="Друк наліпок в Києві" href="https://www.paperfox.com.ua/large-print/"
                        class="product_sub_link" aria-current="page">
                        <span>замовити</span>
                    </a>

                </div>
            </div>
            <div class="product_card col gap">
                <picture class="product_card__image_wrapper">
                    <source srcset="../static/stikers_figure_custom.webp" type="image/webp">
                    <img loading="lazy" decoding="async" data-pagespeed-lazy-src="../static/round-stickers.webp" class="product_card__image"
                        width="4" height="3" alt="Виготовлення наліпок з плоттерною різкою кастомної форми в Києві ">
                </picture>
                <div class="col gap">
                    <h4 class="text_24">Фігурні</h4>
                    <p>Оригінальні фігурні стікери з плоттерною порізкою довільної форми.</p>
                    <a title="Друк наліпок з плоттерною різкою довільної форми в Києві"
                        href="https://www.paperfox.com.ua/large-print/" class="product_sub_link" aria-current="page">
                        <span>замовити</span>
                    </a>
                </div>
            </div>

            <div class="product_card col gap">
                <picture class="product_card__image_wrapper">
                    <source srcset="../static/round-stickers.webp" type="image/webp"  class="product_card__image">
                    <img loading="lazy" decoding="async" data-pagespeed-lazy-src="../static/round-stickers.webp"
                        width="4" height="3"  class="product_card__image"
                        alt="Друк і виготовлення стікер паків, наборів стікерів під замовлення в Києві">
                </picture>
                <div class="col gap">
                    <h4 class="text_24">Стікер паки</h4>
                    <p>Різноманітні наліпки довільної форми на аркушах самоклейки або вінілу</p>
                    <a title="Замовити стікерпаки в Києві" href="https://www.paperfox.com.ua/large-print/"
                        class="product_sub_link" aria-current="page">
                        <span>замовити</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>