<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MATERIAL CARD SECTION | COMPONENT</title>
    <link rel="stylesheet" href="../../styles/__index.css">
</head>

<body class="col width_100">
    <section class="section">
        <div class="container row big_gap">

            <div class="material_card col gap">
                <picture class="material_card__image_wrapper">
                    <source srcset="../../static/ritrama-matte-paperfox.jpeg" type="image/webp">
                    <img loading="lazy" decoding="async" class="material_card__image bg_img" src="../../static/ritrama-matte-paperfox.jpeg"
                        alt="фото паперової наліпки" />
                </picture>
                <div class="col gap">
                    <h4 class="text_24">Паперова</h4>
                    <div class="col width_100">
                        <div class="row_sp_btw width_100">
                            <span class="text_14__gray flex_2">Виробник:</span>
                            <span class="text_14 flex_3">Raflatac UPM</span>
                        </div>

                        <div class="row_sp_btw width_100">
                            <span class="text_14__gray flex_2">Клеюча основа:</span>
                            <span class="text_14 flex_3">акрилова екстрапостійна</span>
                        </div>
                        <div class="row_sp_btw width_100">
                            <span class="text_14__gray flex_2">Покриття:</span>
                            <span class="text_14 flex_3">Машинне крейдування</span>
                        </div>
                        <div class="row_sp_btw width_100">
                            <span class="text_14__gray flex_2">Щільність:</span>
                            <span class="text_14 flex_3">85 г/м²</span>
                        </div>
                    </div>
                    <div class="col width_100">
                        <div class="col width_100">
                            <span class="text_14__gray">Вологотривкість:</span>
                            <div class="row_center gap width_100">
                                <i class="raiting_6" aria-label="Вологотривкість 6 із 10"
                                    title="При сильному зволожені паперова основа зморщується але структура не руйнується та повертається майже до вихідного вигляду після просушення"></i>
                                <span class="text_14__gray">6/10</span>
                            </div>
                        </div>
                        <div class="col width_100">
                            <span class="text_14__gray">Стійкість до мастил:</span>
                            <div class="row_center gap width_100">
                                <i class="raiting_3" aria-label="Стійкість до мастил 3 із 10"></i>
                                <span class="text_14__gray">3/10</span>
                            </div>
                        </div>
                        <div class="col width_100">
                            <span class="text_14__gray">Стійкість до низьких температур:</span>
                            <div class="row_center gap width_100">
                                <i class="raiting_7" aria-label="Стійкість до низьких температур 7 із 10"
                                    title="При значній зміні температури, в умовах утворення конденсату можливе розмокання паперової основи"></i>
                                <span class="text_14__gray">7/10</span>
                            </div>
                        </div>
                        <div class="col width_100">
                            <span class="text_14__gray">Стійкість до механічного впливу:</span>
                            <div class="row_center gap width_100">
                                <i class="raiting_7" aria-label="raiting 7/10"
                                    title="Призначенння наклейки - етикетка для пакування тож незначний механічний вплив не шкодить"></i>

                                <span class="text_14__gray">7/10</span>
                            </div>
                        </div>
                    </div>
                    <p>Білий середньоглянцевий крейдований папір щільністю 85 г/м². Універсальний самоклеючий
                        етикеточний папір для маркування в логістиці, харчових продуктів, стікерпаків,
                        попереджувальних
                        етикеток, POS матеріалів тощо</p>
                </div>
            </div>

            <div class="material_card col gap">
                <picture class="material_card__image_wrapper">
                    <source srcset="../../static/ritrama-matte-paperfox.jpeg" type="image/webp">
                    <img loading="lazy" decoding="async" class="material_card__image bg_img" src="../../static/ritrama-matte-paperfox.jpeg"
                        alt="фото паперової наліпки" />
                </picture>
                <div class="col gap">
                    <h4 class="text_24">Паперова з ламінацією</h4>
                    <div class="col width_100">
                        <div class="row_sp_btw width_100">
                            <span class="text_14__gray flex_2">Виробник:</span>
                            <span class="text_14 flex_3">Raflatac UPM</span>
                        </div>

                        <div class="row_sp_btw width_100">
                            <span class="text_14__gray flex_2">Клеюча основа:</span>
                            <span class="text_14 flex_3">акрилова екстрапостійна</span>
                        </div>
                        <div class="row_sp_btw width_100">
                            <span class="text_14__gray flex_2">Покриття:</span>
                            <span class="text_14 flex_3">PVC плівка 32 мкм</span>
                        </div>
                        <div class="row_sp_btw width_100">
                            <span class="text_14__gray flex_2">Щільність:</span>
                            <span class="text_14 flex_3">85 г/м²</span>
                        </div>
                    </div>
                    <div class="col width_100">
                        <div class="col width_100">
                            <span class="text_14__gray">Вологотривкість:</span>
                            <div class="row_center gap width_100">
                                <i class="raiting_8" aria-label="Вологотривкість 8 із 10"
                                    title="При сильному зволожені паперова основа зморщується але структура не руйнується та повертається майже до вихідного вигляду після просушення"></i>
                                <span class="text_14__gray">8/10</span>
                            </div>
                        </div>
                        <div class="col width_100">
                            <span class="text_14__gray">Стійкість до мастил:</span>
                            <div class="row_center gap width_100">
                                <i class="raiting_3" aria-label="Стійкість до мастил 3 із 10"
                                    title="Паперова основа не має олеофобної пропитки, тому може насичуються мастилами та іншими жирними речовинами"></i>
                                <span class="text_14__gray">3/10</span>
                            </div>
                        </div>
                        <div class="col width_100">
                            <span class="text_14__gray">Стійкість до низьких температур:</span>
                            <div class="row_center gap width_100">
                                <i class="raiting_7" aria-label="Стійкість до низьких температур 7 із 10"
                                    title="При значній зміні температури, в умовах утворення конденсату можливе розмокання паперової основи"></i>
                                <span class="text_14__gray">7/10</span>
                            </div>
                        </div>
                        <div class="col width_100">
                            <span class="text_14__gray">Стійкість до механічного впливу:</span>
                            <div class="row_center gap width_100">
                                <i class="raiting_7" aria-label="raiting 7/10"
                                    title="Призначенння наклейки - етикетка для пакування тож незначний механічний вплив не шкодить"></i>

                                <span class="text_14__gray">7/10</span>
                            </div>
                        </div>
                    </div>
                    <p>Білий середньоглянцевий крейдований папір щільністю 85 г/м². Універсальний самоклеючий
                        етикеточний папір для маркування в логістиці, харчових продуктів, стікерпаків,
                        попереджувальних
                        етикеток, POS матеріалів тощо</p>
                </div>
            </div>

            <div class="material_card col gap">
                <picture class="material_card__image_wrapper">
                    <source srcset="../../static/ritrama-matte-paperfox.jpeg" type="image/webp">
                    <img loading="lazy" decoding="async" class="material_card__image bg_img" src="../../static/ritrama-matte-paperfox.jpeg"
                        alt="фото паперової наліпки" />
                </picture>
                <div class="col gap">
                    <h4 class="text_24">Паперова</h4>
                    <div class="col width_100">
                        <div class="row_sp_btw width_100">
                            <span class="text_14__gray flex_2">Виробник:</span>
                            <span class="text_14 flex_3">Raflatac UPM</span>
                        </div>

                        <div class="row_sp_btw width_100">
                            <span class="text_14__gray flex_2">Клеюча основа:</span>
                            <span class="text_14 flex_3">акрилова екстрапостійна</span>
                        </div>
                        <div class="row_sp_btw width_100">
                            <span class="text_14__gray flex_2">Покриття:</span>
                            <span class="text_14 flex_3">Машинне крейдування</span>
                        </div>
                        <div class="row_sp_btw width_100">
                            <span class="text_14__gray flex_2">Щільність:</span>
                            <span class="text_14 flex_3">85 г/м²</span>
                        </div>
                    </div>
                    <div class="col width_100">
                        <div class="col width_100">
                            <span class="text_14__gray">Вологотривкість:</span>
                            <div class="row_center gap width_100">
                                <i class="raiting_6" aria-label="Вологотривкість 6 із 10"
                                    title="При сильному зволожені паперова основа зморщується але структура не руйнується та повертається майже до вихідного вигляду після просушення"></i>
                                <span class="text_14__gray">6/10</span>
                            </div>
                        </div>
                        <div class="col width_100">
                            <span class="text_14__gray">Стійкість до мастил:</span>
                            <div class="row_center gap width_100">
                                <i class="raiting_3" aria-label="Стійкість до мастил 3 із 10"
                                    title="Паперова основа не має олеофобної пропитки, тому може насичуються мастилами та іншими жирними речовинами"></i>
                                <span class="text_14__gray">3/10</span>
                            </div>
                        </div>
                        <div class="col width_100">
                            <span class="text_14__gray">Стійкість до низьких температур:</span>
                            <div class="row_center gap width_100">
                                <i class="raiting_7" aria-label="Стійкість до низьких температур 7 із 10"
                                    title="При значній зміні температури, в умовах утворення конденсату можливе розмокання паперової основи"></i>
                                <span class="text_14__gray">7/10</span>
                            </div>
                        </div>
                        <div class="col width_100">
                            <span class="text_14__gray">Стійкість до механічного впливу:</span>
                            <div class="row_center gap width_100">
                                <i class="raiting_7" aria-label="raiting 7/10"
                                    title="Призначенння наклейки - етикетка для пакування тож незначний механічний вплив не шкодить"></i>

                                <span class="text_14__gray">7/10</span>
                            </div>
                        </div>
                    </div>
                    <p>Білий середньоглянцевий крейдований папір щільністю 85 г/м². Універсальний самоклеючий
                        етикеточний папір для маркування в логістиці, харчових продуктів, стікерпаків,
                        попереджувальних
                        етикеток, POS матеріалів тощо</p>
                </div>
            </div>

            
        </div>
    </section>
</body>

</html>