<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARROW LINK | COMPONENT</title>
    <link rel="stylesheet" href="../../styles/__index.css">
</head>

<body>
    <section class="section">
        <div class="container col big_gap">
            <div class="row width_100">
                <div class="flex_1 col gap">
                    <p class="bg_gray text_12__gray">Action link with description</p>
                    <a title="Add description for this link" href="#"
                        class="sub_link" aria-label="Друк на чашках" aria-current="page">
                        <span>ACTION TITLE</span>
                        <span>short description</span>
                    </a>
                </div>
                <div class="flex_1 col gap">
                    <p class="bg_gray text_12__gray">Action link</p>
                    <a title="Add description for this link" href="#"
                        class="sub_link" aria-label="Друк на чашках" aria-current="page">
                        <span>ACTION TITLE</span>
                    </a>
                </div>
            </div>
            <div class="row width_100">
                <div class="flex_1 col gap">
                    <p class="bg_gray text_12__gray">Secondary link like button</p>
                    <a class="button__secondary" href="#" title="short description">ACTION TITLE</a>
                </div>
                <div class="flex_1 col gap">
                    <p class="bg_gray text_12__gray">Normal link like button</p>
                    <a class="button__normal" href="#" title="short description">ACTION TITLE</a>
                </div>
                <div class="flex_1 col gap">
                    <p class="bg_gray text_12__gray">Primary link like button</p>
                    <a class="button__primary" href="#" title="short description">ACTION TITLE</a>
                </div>
            </div>

            <div class="row width_100">
                <div class="flex_1 col gap">
                    <p class="bg_gray text_12__gray">Secondary button</p>
                    <button class="button__secondary" title="short description">ACTION TITLE</button>
                </div>
                <div class="flex_1 col gap">
                    <p class="bg_gray text_12__gray">Normal button</p>
                    <button class="button__normal" title="short description">ACTION TITLE</button>
                </div>
                <div class="flex_1 col gap">
                    <p class="bg_gray text_12__gray">Primary button</p>
                    <button class="button__primary" title="short description">ACTION TITLE</button>
                </div>
            </div>

            <div class="row width_100">
                <div class="flex_1 col gap">
                    <p class="bg_gray text_12__gray">Secondary button</p>
                    <button class="button__secondary" title="short description">
                        <i class="button_icon" aria-label="icon for button"></i>
                        <span>ACTION TITLE</span> 
                    </button>
                </div>
                <div class="flex_1 col gap">
                    <p class="bg_gray text_12__gray">Normal button</p>
                    <button class="button__normal" title="short description">
                        <i class="button_icon" aria-label="icon for button"></i>
                        <span>ACTION TITLE</span> 
                    </button>
                </div>
                <div class="flex_1 col gap">
                    <p class="bg_gray text_12__gray">Primary button</p>
                    <button class="button__primary" title="short description">
                        <i class="button_icon__primary" aria-label="icon for button"></i>
                        <span>ACTION TITLE</span> 
                    </button>
                </div>
            </div>
            
        </div>
    </section>
</body>

</html>