<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRODUCT DESIGNER | COMPONENT</title>
    <link rel="stylesheet" href="../../../styles/__index.css" type="text/css" media="all">
</head>

<body>

    <section class="section width_100">
        <div class="container row big_gap ">

            <div class="pd_container">
                <div class="pd_panel">
                    <button class="pd_tool" id="addDefObj">add sample</button>
                    <button class="pd_tool" id="addImageBtn">add image</button>
                    <button class="pd_tool" id="addTextBtn">add text</button>
                    <button class="pd_tool" id="addClipartBtn">add clipart</button>
                </div>
                <div class="pd_workspace" id="pd_workspace">
                    <div class="pd_page" id="pd_artboard">
                        <!--
                        <div id="myModal" class='resizable'>
                            <div class='resizers'>
                              <div class='resizer top-left'></div>
                              <div class='resizer top-right'></div>
                              <div class='resizer bottom-left'></div>
                              <div class='resizer bottom-right'></div>
                            </div>
                        </div>
                        -->
                       <div class="test">test</div>
                        <!-- <div id="myModal">
                            <div id="myModalheader">Click here to move</div>
                            <p>Move</p><p>this</p><p>DIV</p>
                          </div> -->
                    </div>
                </div>

            </div>
        </div>
    </section>
    <script type="module" src="../../src/productDesigners/pd.js"></script>
</body>

</html>