<!DOCTYPE html>
<html lang="uk">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TABLE SECTION | COMPONENT</title>
    <link rel="stylesheet" href="../../styles/__index.css">
</head>

<body class="col width_100">
    <section class="section">
        <div class="container col gap">
            <h3 class="text_32">Назва блоку таблиць</h3>
            <p>Назва таблиці | опис блоку</p>
            <div class="row gap">
                <div class="table_wrapper">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>1...3 м²</th>
                                <th>3...10 м²</th>
                                <th>10+ м</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th
                                    title="Крейдованана самоклейка на паперовій основі для цифрового лазерного друку. Стійка до впливу УФ-випромінювання. Мінімальне замовлення - 1 аркуш для 1 макету">
                                    Паперова самоклейка (Raflatac)</th>
                                <td>210</td>
                                <td>160</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <th
                                    title="Крейдованана самоклейка на паперовій основі з покриттям тонкою гляцевою або матовою ламінацією. Стійка до впливу УФ-випромінювання. Мінімальне замовлення - 1 аркуш  А3 формату для 1 макету">
                                    Паперова з ламінацією</th>
                                <td>210</td>
                                <td>160</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <th
                                    title="Полімерна самоклейка стійка до впливу води і хімікатів, УФ-випромінювання і перепадів температур. Для цифрового лазерного друку. Мінімальне замовлення - 1 аркуш А3 формату для 1 макету">
                                    PET самоклейка (Raflatac)</th>
                                <td>210</td>
                                <td>160</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <th
                                    title="Вініл білий з глянцевою або матовою поверхнею. Стійкий до впливу води і УФ-випромінювання. Друк екосольвентний з рулону. Мінімальне замовлення - 0,35 м.кв.">
                                    Вініл Ritrama</th>
                                <td>210</td>
                                <td>160</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <th
                                    title="Вініл білий з глянцевою ламінацією. Стійкий до механічних пошкоджень, впливу води і УФ-випромінювання. Друк екосольвентний з рулону. Мінімальне замовлення - 0,35 м.кв.">
                                    Вініл з ламінацією</th>
                                <td>210</td>
                                <td>160</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <th
                                    title="Вініл прозорий. Стійкий до впливу води і УФ-випромінювання. Друк цифровий в аркушах А3. Мінімальне замовлення - 1 аркуш А3 формату для 1 макету">
                                    Вініл прозорий глянцевий</th>
                                <td>210</td>
                                <td>160</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <th
                                    title="Вініл напівпрозорий матовий. Стійкий до впливу води і УФ-випромінювання. Друк цифровий в аркушах А3. Мінімальне замовлення - 1 аркуш А3 формату для 1 макету">
                                    Вініл напівпрозорий матовий</th>
                                <td>210</td>
                                <td>160</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <th
                                    title="Некрейдована самоклейка на паперовій основі з текстурою кремового кольору. Метод друку цифровий лазерний. Стійка до впливу УФ-випромінювання. Мінімальне замовлення - 1 аркуш для 1 макету">
                                    Винна етикетка</th>
                                <td>210</td>
                                <td>160</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <th
                                    title="Крейдована самоклейка на паперовій основі з золотою, мідяною або срібною фольгою. Метод друку цифровий лазерний. Стійка до впливу УФ-випромінювання. Мінімальне замовлення - 1 аркуш для 1 макету">
                                    Самоклейка з фольгою</th>
                                </th>
                                <td>340</td>
                                <td>300</td>
                                <td>250</td>
                            </tr>
                            <tr>
                                <th
                                    title="Вінілова плівка на полімерній основі з золотою, мідяною або срібною фольгою. Метод друку цифровий лазерний. Стійка до впливу води та УФ-випромінювання. Мінімальне замовлення - 1 аркуш для 1 макету">
                                    Вініл з фольгою</th>
                                </th>
                                <td>340</td>
                                <td>300</td>
                                <td>250</td>
                            </tr>
                            <tr>
                                <th
                                    title="Прозора плівка з друком білим кольором. Метод друку цифровий лазерний. Стійка до впливу води та УФ-випромінювання. Мінімальне замовлення - 1 аркуш для 1 макету">
                                    Вініл з білим друком</th>
                                </th>
                                <td>340</td>
                                <td>300</td>
                                <td>250</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table_wrapper">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>1...3 м²</th>
                                <th>3...10 м²</th>
                                <th>10+ м</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th
                                    title="Крейдованана самоклейка на паперовій основі для цифрового лазерного друку. Стійка до впливу УФ-випромінювання. Мінімальне замовлення - 1 аркуш для 1 макету">
                                    Паперова самоклейка (Raflatac)</th>
                                <td>210</td>
                                <td>160</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <th
                                    title="Крейдованана самоклейка на паперовій основі з покриттям тонкою гляцевою або матовою ламінацією. Стійка до впливу УФ-випромінювання. Мінімальне замовлення - 1 аркуш  А3 формату для 1 макету">
                                    Паперова з ламінацією</th>
                                <td>210</td>
                                <td>160</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <th
                                    title="Полімерна самоклейка стійка до впливу води і хімікатів, УФ-випромінювання і перепадів температур. Для цифрового лазерного друку. Мінімальне замовлення - 1 аркуш А3 формату для 1 макету">
                                    PET самоклейка (Raflatac)</th>
                                <td>210</td>
                                <td>160</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <th
                                    title="Вініл білий з глянцевою або матовою поверхнею. Стійкий до впливу води і УФ-випромінювання. Друк екосольвентний з рулону. Мінімальне замовлення - 0,35 м.кв.">
                                    Вініл Ritrama</th>
                                <td>210</td>
                                <td>160</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <th
                                    title="Вініл білий з глянцевою ламінацією. Стійкий до механічних пошкоджень, впливу води і УФ-випромінювання. Друк екосольвентний з рулону. Мінімальне замовлення - 0,35 м.кв.">
                                    Вініл з ламінацією</th>
                                <td>210</td>
                                <td>160</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <th
                                    title="Вініл прозорий. Стійкий до впливу води і УФ-випромінювання. Друк цифровий в аркушах А3. Мінімальне замовлення - 1 аркуш А3 формату для 1 макету">
                                    Вініл прозорий глянцевий</th>
                                <td>210</td>
                                <td>160</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <th
                                    title="Вініл напівпрозорий матовий. Стійкий до впливу води і УФ-випромінювання. Друк цифровий в аркушах А3. Мінімальне замовлення - 1 аркуш А3 формату для 1 макету">
                                    Вініл напівпрозорий матовий</th>
                                <td>210</td>
                                <td>160</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <th
                                    title="Некрейдована самоклейка на паперовій основі з текстурою кремового кольору. Метод друку цифровий лазерний. Стійка до впливу УФ-випромінювання. Мінімальне замовлення - 1 аркуш для 1 макету">
                                    Винна етикетка</th>
                                <td>210</td>
                                <td>160</td>
                                <td>130</td>
                            </tr>
                            <tr>
                                <th
                                    title="Крейдована самоклейка на паперовій основі з золотою, мідяною або срібною фольгою. Метод друку цифровий лазерний. Стійка до впливу УФ-випромінювання. Мінімальне замовлення - 1 аркуш для 1 макету">
                                    Самоклейка з фольгою</th>
                                </th>
                                <td>340</td>
                                <td>300</td>
                                <td>250</td>
                            </tr>
                            <tr>
                                <th
                                    title="Вінілова плівка на полімерній основі з золотою, мідяною або срібною фольгою. Метод друку цифровий лазерний. Стійка до впливу води та УФ-випромінювання. Мінімальне замовлення - 1 аркуш для 1 макету">
                                    Вініл з фольгою</th>
                                </th>
                                <td>340</td>
                                <td>300</td>
                                <td>250</td>
                            </tr>
                            <tr>
                                <th
                                    title="Прозора плівка з друком білим кольором. Метод друку цифровий лазерний. Стійка до впливу води та УФ-випромінювання. Мінімальне замовлення - 1 аркуш для 1 макету">
                                    Вініл з білим друком</th>
                                </th>
                                <td>340</td>
                                <td>300</td>
                                <td>250</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="table_wrapper">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>1...3 м²</th>
                            <th>3...10 м²</th>
                            <th>10+ м</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th
                                title="Крейдованана самоклейка на паперовій основі для цифрового лазерного друку. Стійка до впливу УФ-випромінювання. Мінімальне замовлення - 1 аркуш для 1 макету">
                                Паперова самоклейка (Raflatac)</th>
                            <td>210</td>
                            <td>160</td>
                            <td>130</td>
                        </tr>
                        <tr>
                            <th
                                title="Крейдованана самоклейка на паперовій основі з покриттям тонкою гляцевою або матовою ламінацією. Стійка до впливу УФ-випромінювання. Мінімальне замовлення - 1 аркуш  А3 формату для 1 макету">
                                Паперова з ламінацією</th>
                            <td>210</td>
                            <td>160</td>
                            <td>130</td>
                        </tr>
                        <tr>
                            <th
                                title="Полімерна самоклейка стійка до впливу води і хімікатів, УФ-випромінювання і перепадів температур. Для цифрового лазерного друку. Мінімальне замовлення - 1 аркуш А3 формату для 1 макету">
                                PET самоклейка (Raflatac)</th>
                            <td>210</td>
                            <td>160</td>
                            <td>130</td>
                        </tr>
                        <tr>
                            <th
                                title="Вініл білий з глянцевою або матовою поверхнею. Стійкий до впливу води і УФ-випромінювання. Друк екосольвентний з рулону. Мінімальне замовлення - 0,35 м.кв.">
                                Вініл Ritrama</th>
                            <td>210</td>
                            <td>160</td>
                            <td>130</td>
                        </tr>
                        <tr>
                            <th
                                title="Вініл білий з глянцевою ламінацією. Стійкий до механічних пошкоджень, впливу води і УФ-випромінювання. Друк екосольвентний з рулону. Мінімальне замовлення - 0,35 м.кв.">
                                Вініл з ламінацією</th>
                            <td>210</td>
                            <td>160</td>
                            <td>130</td>
                        </tr>
                        <tr>
                            <th
                                title="Вініл прозорий. Стійкий до впливу води і УФ-випромінювання. Друк цифровий в аркушах А3. Мінімальне замовлення - 1 аркуш А3 формату для 1 макету">
                                Вініл прозорий глянцевий</th>
                            <td>210</td>
                            <td>160</td>
                            <td>130</td>
                        </tr>
                        <tr>
                            <th
                                title="Вініл напівпрозорий матовий. Стійкий до впливу води і УФ-випромінювання. Друк цифровий в аркушах А3. Мінімальне замовлення - 1 аркуш А3 формату для 1 макету">
                                Вініл напівпрозорий матовий</th>
                            <td>210</td>
                            <td>160</td>
                            <td>130</td>
                        </tr>
                        <tr>
                            <th
                                title="Некрейдована самоклейка на паперовій основі з текстурою кремового кольору. Метод друку цифровий лазерний. Стійка до впливу УФ-випромінювання. Мінімальне замовлення - 1 аркуш для 1 макету">
                                Винна етикетка</th>
                            <td>210</td>
                            <td>160</td>
                            <td>130</td>
                        </tr>
                        <tr>
                            <th
                                title="Крейдована самоклейка на паперовій основі з золотою, мідяною або срібною фольгою. Метод друку цифровий лазерний. Стійка до впливу УФ-випромінювання. Мінімальне замовлення - 1 аркуш для 1 макету">
                                Самоклейка з фольгою</th>
                            </th>
                            <td>340</td>
                            <td>300</td>
                            <td>250</td>
                        </tr>
                        <tr>
                            <th
                                title="Вінілова плівка на полімерній основі з золотою, мідяною або срібною фольгою. Метод друку цифровий лазерний. Стійка до впливу води та УФ-випромінювання. Мінімальне замовлення - 1 аркуш для 1 макету">
                                Вініл з фольгою</th>
                            </th>
                            <td>340</td>
                            <td>300</td>
                            <td>250</td>
                        </tr>
                        <tr>
                            <th
                                title="Прозора плівка з друком білим кольором. Метод друку цифровий лазерний. Стійка до впливу води та УФ-випромінювання. Мінімальне замовлення - 1 аркуш для 1 макету">
                                Вініл з білим друком</th>
                            </th>
                            <td>340</td>
                            <td>300</td>
                            <td>250</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</body>

</html>