<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANCHOR WIDGET | COMPONENT</title>
    <link rel="stylesheet" href="../../styles/__index.css">
</head>

<body>
     
    <section class="section bg_gray">
        <div class="container col big_gap">
            <ul class="row big_gap">
                <li>
                    <a href="#">товари</a>
                </li>
                <li>
                    <a href="#">прайси</a>
                </li>
                <li>
                    <a href="#">матеріали</a>
                </li>
                <li>
                    <a href="#">питання та відповіді</a>
                </li>
                <li>
                    <a href="#">опис</a>
                </li>
                <li>
                    <a href="#">контакти</a>
                </li>
                <li>
                    <a href="#">умови</a>
                </li>
            </ul>
           
        </div>
    </section>
</body>

</html>