<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ANCHOR WIDGET | COMPONENT</title>
    <link rel="stylesheet" href="../../styles/__index.css">
</head>

<body>
    <main>
        <section class="section">
            <div class="container anchor_container col big_gap">
                <ul class="row small_gap width_100 anchor_wrapper">
                    <li>
                        <a class="ahchor_link" href="#product-section" rel="noreferrer noopener">товари</a>
                    </li>
                    <li>
                        <a class="ahchor_link" href="#price-section" rel="noreferrer noopener">прайси</a>
                    </li>
                    <li>
                        <a class="ahchor_link" href="#material-section" rel="noreferrer noopener">матеріали</a>
                    </li>
                    <li>
                        <a class="ahchor_link" href="#faq-section" rel="noreferrer noopener">питання та відповіді</a>
                    </li>
                    <li>
                        <a class="ahchor_link" href="#seo-section" rel="noreferrer noopener">опис</a>
                    </li>
                    <li>
                        <a class="ahchor_link" href="#map-section" rel="noreferrer noopener">контакти</a>
                    </li>
                    <li>
                        <a class="ahchor_link" href="/order-info" rel="noreferrer noopener">умови</a>
                    </li>
                </ul>

            </div>
        </section>
    </main>
</body>
</html>