<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=5.0, minimum-scale=1.0">
    <meta name="description"
        content="Друк наклейок та стікерів в Києві. Круглі наліпки. Контурна і плтерная різка наклейок. ☑ Замовити наклейки і стікери на гаджети з порізкою і ламінуванням ➤ на Подолі в Києві ☎ 0 800 332-042">
    <meta name="Keywords"
        content="печать наклеек в Киеве,печать стикеров в Киеве, заказать наклейки, заказать печать наклеек, заказать кругліе наклейки, печать наклеек Киев, друк наклейок у Києві,друк стікерів у Києві, замовити наклейки, замовити друк наклейок, замовити круглі наклейки наліпки, друк наклейок Київ,">
    <link rel="stylesheet" href="../../styles/_gallery.css">
    <link rel="stylesheet" href="../../styles/__index.css">




    <title>Друк наклейок та стікер паків з контурною різкою | PaperFox</title>
</head>

<body>

    <section class="section">
        <div class="container">
            <h3 class="text-32 ">Приклади готових робіт</h3>
            <div class="product-gallery">
                <div class="product-gallery-image_wrapper">
                    <picture>
                        <source srcset="../../static/raflatac-paperfox.jpeg" type="image/webp">
                        <img loading="lazy" decoding="async" src="../../static/raflatac-paperfox.jpeg"
                            alt="фото вінілової наліпка із плотерною порізкою" />
                    </picture>
                    <span class="product-gallery-image_description">Вінілова наліпка із плотерною порізкою</span>
                </div>
                <div class="product-gallery-image_wrapper">
                    <picture>
                        <source srcset="../../static/raflatac-paperfox.jpeg" type="image/webp">
                        <svg>
                            <path d="M655,329.35,598.9,296.94a6.29,6.29,0,0,0-9.44,5.44V367.2a6.29,6.29,0,0,0,9.44,5.45L655,340.24A6.29,6.29,0,0,0,655,329.35Z" transform="translate(-589.46 -296.09)" fill=" #9d9d9c"/>
                          </svg>
                    </picture>
                    <span class="product-gallery-image_description">Вінілова наліпка із плотерною порізкою</span>
                </div>

                <div class="product-gallery-image_wrapper">
                    <picture>
                        <source srcset="../../static/raflatac-paperfox.jpeg" type="image/webp">
                        <img loading="lazy" decoding="async" src="../../static/raflatac-paperfox.jpeg"
                            alt="фото вінілової наліпка із плотерною порізкою" />
                    </picture>
                    <span class="product-gallery-image_description">Вінілова наліпка із плотерною порізкою</span>
                </div>
                <div class="product-gallery-image_wrapper">
                    <picture>
                        <source srcset="../../static/raflatac-paperfox.jpeg" type="image/webp">
                        <svg>
                            <path d="M655,329.35,598.9,296.94a6.29,6.29,0,0,0-9.44,5.44V367.2a6.29,6.29,0,0,0,9.44,5.45L655,340.24A6.29,6.29,0,0,0,655,329.35Z" transform="translate(-589.46 -296.09)" fill=" #9d9d9c"/>
                          </svg>
                    </picture>
                    <span class="product-gallery-image_description">Вінілова наліпка із плотерною порізкою</span>
            </div>
            <div class="product-gallery-image_wrapper">
                <picture>
                    <source srcset="../../static/raflatac-paperfox.jpeg" type="image/webp">
                    <img loading="lazy" decoding="async" src="../../static/raflatac-paperfox.jpeg"
                        alt="фото вінілової наліпка із плотерною порізкою" />
                </picture>
                <span class="product-gallery-image_description">Вінілова наліпка із плотерною порізкою</span>
            </div>
            <div class="product-gallery-image_wrapper">
                <picture>
                    <source srcset="../../static/raflatac-paperfox.jpeg" type="image/webp">
                    <svg>
                        <path d="M655,329.35,598.9,296.94a6.29,6.29,0,0,0-9.44,5.44V367.2a6.29,6.29,0,0,0,9.44,5.45L655,340.24A6.29,6.29,0,0,0,655,329.35Z" transform="translate(-589.46 -296.09)" fill=" #9d9d9c"/>
                      </svg>
                </picture>
                <span class="product-gallery-image_description">Вінілова наліпка із плотерною порізкою</span>
            </div>

            <div class="product-gallery-image_wrapper">
                <picture>
                    <source srcset="../../static/raflatac-paperfox.jpeg" type="image/webp">
                    <img loading="lazy" decoding="async" src="../../static/raflatac-paperfox.jpeg"
                        alt="фото вінілової наліпка із плотерною порізкою" />
                </picture>
                <span class="product-gallery-image_description">Вінілова наліпка із плотерною порізкою</span>
            </div>
            <div class="product-gallery-image_wrapper">
                <picture>
                    <source srcset="../../static/raflatac-paperfox.jpeg" type="image/webp">
                    <svg>
                        <path d="M655,329.35,598.9,296.94a6.29,6.29,0,0,0-9.44,5.44V367.2a6.29,6.29,0,0,0,9.44,5.45L655,340.24A6.29,6.29,0,0,0,655,329.35Z" transform="translate(-589.46 -296.09)" fill=" #9d9d9c"/>
                      </svg>
                </picture>
                <span class="product-gallery-image_description">Вінілова наліпка із плотерною порізкою</span>
        </div>

            

        </div>

    </section>
</body>