<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCORDION | COMPONENT</title>
    <link rel="stylesheet" href="../../styles/__index.css">
</head>
<body>
    <section class="section">
            <div class="container col big_gap">
                <h3 class="text_32">Питання та відповіді</h3>
                <dl class="accordion">
                    <div class="a_container">
                        <dt class="a_btn" tabindex="0">Як замовити наклейки?<span class="a_btn_ico"></span>
                        </dt>
                        <dd class="a_panel">
                            Замовити круглі наклейки можна відправивши нам листа на електронну пошту
                            print@paperfox.com.ua або у месенджер Viber чи Telegram.
                            Якщо макету немає, Ви можете замовити його попередньо надавши матеріал та опис.
                        </dd>
                    </div>
                    <div class="a_container">
                        <dt class="a_btn" tabindex="0">Яку мінімальну кількість круглих наліпок можна замовити?<span
                                class="a_btn_ico"></span>
                        </dt>
                        <dd class="a_panel">
                            Мінімальне замовлення - 1 макет на 1 друкований аркуш. Наприклад, у вас є 2 макета круглих
                            наклейок діаметром 50 мм і
                            ви хочете замовити по 10 шт кожного. На одному друкованому аркуші вміщається 40 шт наклейок
                            діаметром 50 мм, відповідно 40 шт
                            наклейок для кожного макета ми можемо прийняти в роботу і врешті сумарно отримаєте 80
                            наліпок.
                        </dd>
                    </div>
                    <div class="a_container">
                        <dt class="a_btn" tabindex="0">Які вимоги до макетів?<span class="a_btn_ico"></span></dt>
                        <dt class="a_panel">
                            <ul class="gap">
                                <li>Макети подаются у настуних форматах: PDF чи JPG</li>
                                <li>• Кольорова модель: CMYK</li>
                                <li>• Роздільна здатність: не менше 300 dpi, для маленьких розмірів (менше 50 мм) 600
                                    dpi</li>
                                <li>• Товщина ліній не менше 0.1 мм на білому фоні, та не менше 0.2 мм на кольоровому
                                    фоні.</li>
                                <li>• Важливі елементи дизайну чи текст розташовуйте не ближче ніж 2 мм для порізки на
                                    аркушах, та не менше 4 мм для наскрізної порізки</li>
                            </ul>
                        </dt>
                    </div>
                    <div class="a_container">
                        <dt class="a_btn" tabindex="0">Скільки часу потрібно на виготовлення замовлення?<span
                                class="a_btn_ico"></span></dt>
                        <dd class="a_panel">
                            В залежності від замовлення та завантаженості виробництва на момент замовлення, термін
                            виконання може складати від 30 хв до 1 дня. Проте актуальну інформацію краще запитайте у
                            менеджера
                        </dd>
                    </div>
                    <div class="a_container">
                        <dt class="a_btn" tabindex="0">Який розмір я можу надрукувати якісно?<span
                                class="a_btn_ico"></span>
                        </dt>
                        <dd class="a_panel">
                            Все залежить від наданого файлу. Векторе зображення не має обмежень в розмірі, растрове
                            (фото) має певні обмеження. Розмір у пікселях не завжди є показником якості, потрібно також
                            візуально оцінити зображення.
                            Знову ж таки - скидайте на пошту або у месенджери :)
                        </dd>
                    </div>

                    <div class="a_container">
                        <dt class="a_btn" tabindex="0">Як я отримую наклейки, на аркуші або поштучно?<span
                                class="a_btn_ico"></span>
                        </dt>
                        <dd class="a_panel">
                            Замовити можна як прорізані в листах А4 чи А3 мм так і вирізані кожну окремо, але для
                            наскрізної порізки є обмеження у розмірі - від 50 до 250 мм з кроком в 1 мм.
                        </dd>
                    </div>

                    <div class="a_container">
                        <dt class="a_btn" tabindex="0">Наклейки будуть вологотривкі чи ні?<span
                                class="a_btn_ico"></span>
                        </dt>
                        <dd class="a_panel">
                            Паперові - умовно вологотривкі, друк не змивається, а паперова основа в залежності від часу
                            який пройшов після наклеювання, чим довше була наклеєна наліпка, тим важче вона буде
                            зніматися чи змиватися.
                            Вінілвові (білі, прозорі та напівпрозорі наліпки) - файтично не бояться вологи, оскільки
                            лазерний друк та вініл ніяк не взаємодіють з водою.
                            ПЕТ (PVC)  наліпка - вологотривка та стійка до мастил та хімікатів.
                        </dd>
                    </div>
                    <div class="a_container">
                        <dt class="a_btn" tabindex="0">Де забрати замовлення? Чи є доставка?<span
                                class="a_btn_ico"></span></dt>
                        <dd class="a_panel">
                            Забрати можна у нас в офісі або у відділенні Нової Пошти. Термінову доставку круглих
                            наклейок по Києву практикуємо на таксі сервісом Uklon.
                        </dd>
                    </div>
                </dl>
            </div>
        </section>
        <script type="module" src="../../src/app.js"></script>
</body>
</html>