<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECT STICKER CALCULATOR | COMPONENT</title>
    <link rel="stylesheet" href="../../../styles/__index.css">
</head>

<body>
    <section class="section">
        <div class="container col gap">
           
        </div>
    </section>
    <script type="module" src="./CupGallery.js"></script>
</body>

</html>