
.anchor_container {
    padding: 12px 0;
    width: 100%;
    position: sticky;
    top: var(--size-header-height);
    }

.anchor_section {
    position: sticky !important;
    top: 72px;
    z-index: 999;
    /* background: linear-gradient(180deg, rgba(255,255,255,0.7) 98%, rgba(255,255,255,0) 100%); */
    background-color: var(--color-light-light-gray);
    backdrop-filter: blur(5px);
    margin-top: -24px;
}
}

.anchor_wrapper li {
    margin-right: 12px;
    cursor: pointer;
}

.ahchor_link {
    display: flex;
    flex: 1;
    font-size: 12px;
    color: var(--color-gray);

}

.ahchor_link::before {
    content: '#';
    margin-right: 2px;
    padding: 8px 24px;
    border: 0.5px solid var(--color-gray);
    border-radius: var(--size-border-radius);
}

.ahchor_link:hover {
    color: var(--color-theme);
    transform: scale(1.05);
    transition: var(--time-tr-time);
    border: 0.5px solid var(--color-theme);
}


/* `xxl` applies to xx-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    .anchor_container {
        padding: 12px 0;
    }
}

/*`xl` applies to x-large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    .anchor_container {
        padding: 12px 16px;
    }
}

/* `lg` applies to large devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    .anchor_container {
        padding: 16px 16px;
    }
}

/*-------------------------------------------*/
/* `md` applies to medium devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}

/* `sm` applies to small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
   
}

/* `xsm` applies to x-small devices (iPhone 5/5s/SE, equals to 320px) */
@media (max-width: 320px) {
}
@media (max-width: 767.98px) {}

/* `sm` applies to small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* `xsm` applies to x-small devices (iPhone 5/5s/SE, equals to 320px) */
@media (max-width: 320px) {}

