.select {
    width: 100%;
    border: 1px solid var(--color-light-gray);
    padding-top: 8px;
    border-radius: 12px;
    cursor: pointer;
    transition: 300ms;
    position: relative;
}

.select::after {
    content: "";
    width: 8px;
    height: 8px;
    background: linear-gradient(-45deg, var(--color-gray) 50%, white 50%);
    position: absolute;
    right: 22px;
    top: 24px;
    transform: rotate(45deg);
}

.option {
    padding: 50px;
}

.select>label {
    color: var(--color-gray);
    font-size: 14px;
    padding-left: var(--size-gap);
}

.select:focus-within,
.select:hover {
    border: 1px solid var(--color-theme);
}

.select:focus-within>label,
.select:hover>label {
    color: var(--color-theme);
}

.select>select {
    border: 0;
    outline: none;
    width: 95%;
    background-color: transparent;
    margin-top: -24px;
    padding: 32px var(--size-gap) 8px calc(var(--size-gap) - 5px);
    border-radius: 999px;
    font-size: 16px;
    cursor: pointer;
}