.table_wrapper {
    width: 100%;
}

.table {
    width: 100%;
    /* min-width: 720px; */
}

.table th,
.table td {
    padding: 12px 24px;
    font-weight: inherit;
}

.table tr :first-child {
    border-radius: 12px 0 0 12px;
}

.table tr :last-child {
    border-radius: 0 12px 12px 0;
}

.table>thead {
    font-weight: 600;
    background-color: var(--color-light-light-theme);
}

.table td {
    min-width: 15%;
    text-align: center;
    transition: 300ms;
}

.table td:hover {
    transform: translateX(0) scale(1.1);
}

.table>tbody tr:hover {
    background-color: var(--color-light-gray);
}

.table>tbody td:hover:after {
    opacity: 1;
    right: -6px;
}

.table>tbody th {
    min-width: 20%;
    font-weight: 600;
    text-align: left;
}

@media (max-width: 575.98px) {
    .table_wrapper {
        width: 100%;
        overflow-x: scroll;
    }
}