.section {
    height: fit-content;
    width: 100%;
    scroll-margin-top: 110px;
    transition: cubic-bezier(0.4, 0, 0.2, 1) var(--time-tr-time);
}

.container {
    width: 100%;
    height: auto;
    padding: var(--size-container-padding);
    max-width: var(--size-container-max-width);
    margin: 0 auto;
}

.width_100 {
    width: 100%;
}

.width_50 {
    width: 50%;
}

.width_33 {
    width: 33%;
}

.width_25 {
    width: 25%;
}

.width_20 {
    width: 20%;
}

.flex_1 {
    transition: 150ms ease;
    display: flex;
    flex: 1 !important;
}

.flex_2 {
    transition: 150ms ease;
    display: flex;
    flex: 2 !important;
}

.flex_3 {
    transition: 150ms ease;
    display: flex;
    flex: 3 !important;
}

.flex_4 {
    transition: 150ms ease;
    display: flex;
    flex: 4 !important;
}

.flex_5 {
    transition: 150ms ease;
    display: flex;
    flex: 5 !important;
}

.rotate_45 {
    transition: 300ms ease;
    transform: rotate(45deg);
}

.bg_gray {
    background-color: var(--color-light-light-gray);
}

.bg_img {
    background: linear-gradient(-45deg, var(--color-light-theme), var(--color-light-light-theme), var(--color-light-theme));
    background-size: 400% 400%;
    background-color: var(--color-light-light-theme);
    border-radius: var(--size-border-radius);
    animation: gradient 4s cubic-bezier(0.55, 0.00, 0.55, 1.0) infinite;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row_center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row_sp_btw {
    display: flex;
    justify-content: space-between;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.col_center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.small_gap {
    gap: var(--size-small-gap);
}

.gap {
    gap: var(--size-gap) !important;
}

.big_gap {
    gap: var(--size-big-gap);
}

.w100 {
    width: 100%;
}

.raiting_0 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 2px;
}

.raiting_0::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 1%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
    transition: var(--time-tr-time);
}

.raiting_1 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
    cursor: help;
}

.raiting_1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 10%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
    transition: var(--time-tr-time);
}

.raiting_2 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
    cursor: help;
}

.raiting_2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 20%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
    transition: var(--time-tr-time);
}

.raiting_3 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
    cursor: help;
}

.raiting_3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 30%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
    transition: var(--time-tr-time);
}

.raiting_4 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
    cursor: help;
}

.raiting_4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 40%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
    transition: var(--time-tr-time);
}

.raiting_5 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
    cursor: help;
}

.raiting_5::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 50%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
    transition: var(--time-tr-time);
}

.raiting_6 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
    cursor: help;
}

.raiting_6::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 60%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
    transition: var(--time-tr-time);
}

.raiting_7 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
    cursor: help;
}

.raiting_7::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 70%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
    transition: var(--time-tr-time);
}

.raiting_8 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
    cursor: help;
}

.raiting_8::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 80%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
    transition: var(--time-tr-time);
}

.raiting_9 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
    cursor: help;
}

.raiting_9::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 90%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
    transition: var(--time-tr-time);
}

.raiting_10 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
    cursor: help;
}

.raiting_10::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
    transition: var(--time-tr-time);
}

.raiting_0:hover:after {
    background-color: var(--color-theme);
    transform: scaleY(1.2);
}

.raiting_1:hover:after {
    background-color: var(--color-theme);
    transform: scaleY(1.2);
}

.raiting_2:hover:after {
    background-color: var(--color-theme);
    transform: scaleY(1.2);
}

.raiting_3:hover:after {
    background-color: var(--color-theme);
    transform: scaleY(1.2);
}

.raiting_4:hover:after {
    background-color: var(--color-theme);
    transform: scaleY(1.2);
}

.raiting_5:hover:after {
    background-color: var(--color-theme);
    transform: scaleY(1.2);
}

.raiting_6:hover:after {
    background-color: var(--color-theme);
    transform: scaleY(1.2);
}

.raiting_7:hover:after {
    background-color: var(--color-theme);
    transform: scaleY(1.2);
}

.raiting_8:hover:after {
    background-color: var(--color-theme);
    transform: scaleY(1.2);
}

.raiting_9:hover:after {
    background-color: var(--color-theme);
    transform: scaleY(1.2);
}

.raiting_10:hover:after {
    background-color: var(--color-theme);
    transform: scaleY(1.2);
}

.border {
    border: 1px solid var(--color-theme);
}

.border_right {
    border-right: 1px solid var(--color-theme);
}

.border_bottom {
    border-bottom: 1px solid var(--color-theme);
}

.border_top {
    border-top: 1px solid var(--color-theme);
}

.border_left {
    border-left: 1px solid var(--color-theme);
}

.border_right {
    border-right: 1px solid var(--color-light-gray);
}