:root {
    /* grid */
    --size-small-gap: 16px;
    --size-gap: 24px;
    --size-big-gap: 48px;
    --size-container-max-width: 1240px;
    --size-container-padding: 60px 0;
    --size-section-padding: 0;
    --size-button-padding: 12px 24px;
    --size-button-min-width: 120px;
    --size-header-height: fit-content;
    
    /* colors */
    --color-theme: #D83E1B;
    --color-light-theme: #ffc7bb;
    --color-light-light-theme: #FFF6F4;
    --color-dark-gray: #242424;
    --color-gray: #6E6E6E;
    --color-light-gray: #eeeeee;
    --color-light-light-gray: #f7f7f6;
    --color-background-overlayout: linear-gradient(transparent, transparent);

    /* images */
    --size-icon: 16px;
    --size-border-radius: 12px;
    --size-raiting: 8px;

    /* amination */
    --time-tr-time: 280ms;

    /* typography */
    --font-text-60: 60px;
    --font-text-32: 32px;
    --font-text-24: 24px;
    --font-text-16: 16px;
    --font-text-14: 14px;
    --font-text-12: 12px;

    --size-line-heignt: 1.5rem;
}

/* `xxl` applies to xx-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {
    :root {
        /* grid */
        --size-small-gap: 16px;
        --size-gap: 24px;
        --size-big-gap: 48px;
        --size-container-max-width: 1240px;
        --size-container-padding: 48px 0;
    }
}

/*`xl` applies to x-large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
    :root {
        /* grid */
        --size-container-max-width: 960px;
        --size-container-padding: 48px 16px;
    }
}

/* `lg` applies to large devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
    :root {
        /* grid */
        --size-container-max-width: 820px;
        --size-container-padding:  16px;
        --size-section-padding: 32px 16px;
    }
}

/*-------------------------------------------*/
/* `md` applies to medium devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
    :root {
        /* grid */
        --size-container-max-width: 100%;
    }
}

/* `sm` applies to small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    :root {
        --color-background-overlayout: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.85));
   
        --size-small-gap: 8px;
        --size-gap: 12px;
        --size-big-gap: 24px;
    }
}

/* `xsm` applies to x-small devices (iPhone 5/5s/SE, equals to 320px) */
@media (max-width: 320px) {

}