:root {
    --size-gap: 16px;
    --size-big-gap: 48px;
    --size-small-gap: 24px;
    --size-icon: 20px;
    --size-border-radius: 12px;
    --size-container-width: 1240px;
    --size-section-padding: 48px;
    --size-raiting: 8px;

    --color-theme: #D83E1B;
    --color-light-theme: #ffc7bb;
    --color-light-light-theme: #FFF6F4;
    --color-gray: #6E6E6E;
    --color-light-gray: #eeeeee;
    --color-light-light-gray: #fbfbfb;
    --color-background-overlayout: linear-gradient(transparent, transparent);

    --time-tr-time: 280ms;
}

.section {
    padding: 40px 0;
    height: fit-content;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.width-33 {
    width: 33%;
}

.width-25 {
    width: 25%;
}

.width-20 {
    width: 20%;
}

.flex-1 {
    transition: 150ms ease;
    display: flex;
    flex: 1 !important;
}

.flex-2 {
    transition: 150ms ease;
    display: flex;
    flex: 2 !important;
}

.flex-3 {
    transition: 150ms ease;
    display: flex;
    flex: 3 !important;
}

.flex-4 {
    transition: 150ms ease;
    display: flex;
    flex: 4 !important;
}

.flex-5 {
    transition: 150ms ease;
    display: flex;
    flex: 5 !important;
}

.rotate-45 {
    transition: 300ms ease;
    transform: rotate(45deg);
}

.bg-gray {
    background-color: var(--color-light-light-gray);
}

.container {
    width: 100%;
    height: auto;
    max-width: var(--size-container-width);
    margin: 0 auto;
}

.row {
    display: flex;
    /*flex-wrap: wrap;*/
}

.row-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row-sp-btw {
    display: flex;
    justify-content: space-between;
}

.row-wrap {
    display: flex;
    flex-wrap: wrap;
    /* gap: var(--size-big-gap); */
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

a {
    text-decoration: none;
    display: inline-flex;
    color: inherit;
    transition: 300ms;
}


.col-gap {
    gap: var(--size-gap) !important;
}

.col-b-gap {
    gap: var(--size-big-gap);
}

.row-gap {
    gap: var(--size-gap);
}
.row-s-gap>*:not(:last-child) {
    margin-right: var(--size-small-gap);
}

.row-b-gap {
    gap: var(--size-big-gap);
}

.raiting-0 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 2px;
}

.raiting-0::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 1%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
}


.raiting-1 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
}

.raiting-1::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 10%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
}

.raiting-2 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
}

.raiting-2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 20%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
}

.raiting-3 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
}

.raiting-3::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 30%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
}

.raiting-4 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
}

.raiting-4::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 40%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
}

.raiting-5 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
}

.raiting-5::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 50%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
}

.raiting-6 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
}

.raiting-6::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 60%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
}


.raiting-7 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
}

.raiting-7::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 70%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
}

.raiting-8 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
}

.raiting-8::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 80%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
}


.raiting-9 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
}

.raiting-9::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 90%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
}

.raiting-10 {
    display: flex;
    height: var(--size-raiting);
    width: 100%;
    background-color: var(--color-light-gray);
    position: relative;
    border-radius: 999px;
}

.raiting-10::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 999px;
    background-color: var(--color-light-theme);
}


.border-right {
    padding-right: var(--size-gap);
    border-right: 1px solid var(--color-theme);
}


.border-bottom {
    border-bottom: 1px solid var(--color-light-gray);
}

.border-top {
    border-top: 1px solid var(--color-light-gray);
}

.border-left {
    border-left: 1px solid var(--color-light-gray);
}

.border-right {
    border-right: 1px solid var(--color-light-gray);
}